node_modules
npm-debug.log
.git
.gitignore
.github
.env
.env.local
.env.*.local
.DS_Store
.next
out
dist
build
.vscode
.idea
*.swp
*.swo
*~
.pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml
.certs
*.tsbuildinfo
docs
coverage
__tests__
*.md
!README.md
